<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Fn Democracy Ballot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
    <p>Click on a button below to register your vote:</p>
    <ul class="list-group">
        {% for option in options %}
        <li class="list-group-item"><a class="btn btn-primary" href="{{vote_url}}?v={{vote_par | urlencode}}&i={{poll_id | urlencode}}&o={{option | urlencode}}">{{option}}</a></li>
        {% endfor %}
    </ul>
    <p>Open until: {{expiry}}</p>
    <p>This page will be replaced with the poll results once it has been closed.</p>
    <p><img src="{{qrcode}}" class="img-fluid" /></p>
    <p>Click this link to enqueue the close process for this poll (will only succeed after the "Open until:" time above): <a href="{{close_url}}?i={{poll_id}}" class="small">try closing poll {{poll_id}}.</a>
    </div>
</body>
</html>
